{
    "semi": true,
    "trailingComma": "none",
    "printWidth": 180,
    "proseWrap": "always",
    "tabWidth": 4,
    "useTabs": false,
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "singleQuote": true
}
