body {
    width: 20rem;
    text-align: center;
    margin: 1.5rem;
    font-family: Arial, sans-serif;
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
    margin: 1rem 0;
}

li {
    padding: 0.25rem;
}
li:nth-child(odd) {
    background: #80808030;
}
li:nth-child(even) {
    background: #ffffff;
}

button {
    background-color: #2c2c2c;
    border: none;
    border-radius: 2rem;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

h3,
p {
    margin: 0;
}

#dedup-amount {
    margin: 0.5rem;
}

.deduplication-section {
    background-color: rgb(198, 224, 224);
    padding: 1rem 1rem 0.2rem 1rem;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
}

.tabTimer-section {
    background-color: rgb(201, 224, 198);
    padding: 1rem;
    border-radius: 0.5rem;
}

.expiration-section {
    margin-top: 0.5rem;
}

#old-tab-expiration {
    width: 70px;
    font-size: 14px;
    color: #333;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0.3rem;
}

input[type='number'] {
    width: 70px;
}
